<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ITorrentFramework-Catalyst.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ITorrentFramework-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ITorrentFramework-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ITorrentFramework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>LibTorrent-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>LibTorrent.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C2AEB30257D1E2800B97050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C4B70C924D4C71500DA0C49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C933B1D24F6AF6A0066761E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C933B3F24F6B1390066761E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C9DC7AF24D1D056007E78AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CEA5DA2257BEBDC007575D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
